<%= form_for(@poet) do |f| %>
  <% if @poet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@poet.errors.count, "error") %> prohibited this poet from being saved:</h2>

      <ul>
      <% @poet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :poetName %><br />
    <%= f.text_field :poetName %>
  </div>
  <div class="field">
    <%= f.label :phoneNumber %><br />
    <%= f.text_field :phoneNumber %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
