<%= form_for(@slam) do |f| %>
  <% if @slam.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@slam.errors.count, "error") %> prohibited this slam from being saved:</h2>

      <ul>
      <% @slam.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :hostFirstName %><br />
    <%= f.text_field :hostFirstName %>
  </div>
  <div class="field">
    <%= f.label :hostLastName %><br />
    <%= f.text_field :hostLastName %>
  </div>
  <div class="field">
    <%= f.label :numWinners %><br />
    <%= f.text_field :numWinners %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
