<%= form_for(@slam) do |f| %>
  <% if @slam.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@slam.errors.count, "error") %> prohibited this slam from being saved:</h2>

      <ul>
      <% @slam.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
