<% form_for ([@slam, @slam.participants.build]) do |f| %>
<% if @slam.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@slam.errors.count, "error") %> prohibited this participant from being saved:</h2>

      <ul>
      <% @slam.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
    <%= f.label :poet, "Enter Poet or Team ID" %><br />
    <%# f.select :poet_id, Poet.all %>
    <%= f.text_field :poet_id %>
</div>
 <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
