<%= form_for(@score) do |f| %>
  <% if @score.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@score.errors.count, "error") %> prohibited this score from being saved:</h2>

      <ul>
      <% @score.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :round_id %><br />
    <%= f.number_field :round_id %>
  </div> 
  <div class="field">
    <%= f.label :poet_id%><br />
    <%= f.text_field :poet_id %>
  </div>
  <div class="field">
    <%= f.label :score3 %><br />
    <%= f.text_field :score3 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
