
<p>
 <b>Name:</b>
 <%= @user.userName %>
&nbsp;&nbsp;&nbsp;&nbsp; 
&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;

<%= link_to 'Edit User', edit_user_path(@user) %> |
<%= link_to 'Back to Users List', users_path %>

<br>

<table width="60%">
  <col style="width:30%">
  <col style="width:30%">
<h2>Your Slams</h2>
  <tr>
    <th>Slam</th>
    <th>Date</th>
    <th></th>
  </tr>

<% @user.slams.each do |slam| %>
  <tr>
    <td><%= link_to slam.name, slam %></td>
    <td><%= slam.created_at.strftime("%a %b #{slam.created_at.day.ordinalize}") %></td>
    <td><%= link_to 'Destroy', slam, method: :delete, data: { confirm: 'Are you sure? Scores cannot be recovered after deletion.' } %></td>
  </tr>
<% end %>
</table>

<p id="notice"><%= notice %></p>

<br>
<h2>Create a New Slam!</h2>
<%= render "slams/form" %>
