
<p>
 <b>Name:</b>
 <%= @user.userName %>
&nbsp;&nbsp;&nbsp;&nbsp; 
&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;

<%= link_to 'Edit User', edit_user_path(@user) %> |
<%= link_to 'Back to Users List', users_path %>

<br>

<table width="60%">
  <col style="width:30%">
  <col style="width:30%">
<h2>Your Slams</h2>
  <tr>
    <th>Slam</th>
    <th>Date</th>
    <th></th>
  </tr>

<% @user.slams.each do |slam| %>
  <tr>
    <td><%= link_to slam.name, slam %></td>
    <td><%= slam.created_at.strftime("%a %b #{slam.created_at.day.ordinalize}") %></td>
    <td><%= link_to 'Destroy', slam, method: :delete, data: { confirm: 'Are you sure? Scores cannot be recovered after deletion.' } %></td>
  </tr>
<% end %>
</table>


<br>
<h2>Create a New Slam!</h2>
<%if params[:errors2] %>
<font color="red"><b> HOLD UP!</b>
<br> The slam name must be unique and at least 3 letters long. Try adding the year to the end of the name. </font>
   <%# <div id="error_explanation">
     <h2><%= pluralize(params[:errors2], "error") %> 
<%#prohibited this slam from being saved:</h2>

      <ul>
     <% params[:errors2].errors.full_messages.each do |msg| %>
  <%#      <li><%= msg %></li>
  <%#    <% end %>
      </ul>
    </div>

<%end %>
<%= render "slams/form" %>
