<%= form_for([Round.find(params[:round]), Round.find(params[:round]).scores.build]) do |f| %>

  <div class="field">
    <%= f.label :score1 %><br />
    <%= f.text_field :score1 %>
  </div>
  <div class="field">
    <%= f.label :score2 %><br />
    <%= f.text_field :score2 %>
  </div>
  <div class="field">
    <%= f.label :score3 %><br />
    <%= f.text_field :score3 %>
  </div>
  <div class="field">
    <%= f.label :score4 %><br />
    <%= f.text_field :score4 %>
  </div>
  <div class="field">
    <%= f.label :score5 %><br />
    <%= f.text_field :score5 %>
  </div>
  <div class="field">
    <%= f.label :time %><br />
    <%= f.text_field :time %>
  </div>
If the poet was disqualified, enter time as 1000. 
<div class="actions">
    <%= f.submit %>
  </div>
<% end %>
