 <%= form_for([@user, @user.slams.build]) do |f| %>
  <%= f.error_messages %>

  <div class="field">
    <%= f.label :name, "Slam Name" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :location, "Slam Location" %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :hostFirstName, "Host First Name"%><br />
    <%= f.text_field :hostFirstName %>
  </div>
  <div class="field">
    <%= f.label :hostLastName, "Host Last Name" %><br />
    <%= f.text_field :hostLastName %>
  </div>
  <div class="field">
    <%= f.label :numWinners, 'Number of "winners"'%><br />
    <%= f.text_field :numWinners %>
  </div>
  <div class="field">
    <%= f.label :numParticipants, 'Number of Teams'%><br />
    <%= f.text_field :numParticipants %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
