 <%= form_for([@user, @user.slams.build]) do |f| %>
  
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
    <%= f.label :name, "Slam Name" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :location, "Slam Location" %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :hostFirstName, "Host First Name"%><br />
    <%= f.text_field :hostFirstName %>
  </div>
  <div class="field">
    <%= f.label :hostLastName, "Host Last Name" %><br />
    <%= f.text_field :hostLastName %>
  </div>
  <div class="field">
    <%= f.label :timeLimit, "Time Limit"%><br />
Enter a decimal of the maximum time before deduction.<br> 
For example if 3 minute limit w/ 10 second grace period, enter 3.10<br>
    <%= f.text_field :timeLimit %>
  </div>
  <div class="field">
    <%= f.label :numParticipants, "Number of Teams"%><br />
    <%= f.select(:numParticipants, [[3, 3], [4, 4], [5,5] ]) %>
 </div>
   Note: All Team Slams Are Built With Four Rounds
  <br>
<br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
