<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @slam.user.userName %>
<p>
<table width="60%">
  <col style="width:15%">
  <col style="width:15%">
  <col style="width:15%">
  <col style="width:15%">
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <tr>
    <td>Slam: <%= @slam.name %></td>
    <td>Date: <%= @slam.created_at.strftime("%a %b #{@slam.created_at.day.ordinalize}") %></td>
    <td>Host: <%= @slam.hostFirstName%> <%= @slam.hostLastName%></td>
    <td>Location: <%= @slam.location%></td>
  </tr>
</table>
<% pNeeded = @slam.numParticipants %>
<% p = @slam.participants.count %>
<% if 4 > 1 %>
<h2> Add Participants!</h2> 
This slam requires <%= @slam.numParticipants %> participants to begin scoring.
<br>
<br>
<%= render "participants/form" %>
participant form should be here why isn't it loading :( 
<br>
<br>
Poet or Team Not Listed?
 render "poets/form" 
**change poet form so clicking create takes them back here!
<% else %>
    <%= link_to 'Round 1', slam_round_path(@slam, @slam.rounds[0]) %>
<% end %>
<br>

<br>
<p>
<%= link_to 'Edit Slam', edit_slam_path(@slam) %> |
<%= link_to 'Back', user_path(@slam.user) %>

