<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @slam.user.userName %>
<p>
    <b>Slam:</b> <%= @slam.name %>
    <b>Date:</b> <%= @slam.created_at.strftime("%a %b #{@slam.created_at.day.ordinalize}") %>
    <b>Host:</b> <%= @slam.hostFirstName%> <%= @slam.hostLastName%>
    <b>Location:</b> <%= @slam.location%>

<br>
<br>
<%= render :template => "participants/index" %>
<% if !@slamFull %>
<h2> Add Teams to this Slam!</h2> 
This slam requires <%= @slam.numParticipants %> participants to begin scoring.
<br>
<br>
<%= render "poets/form",:slam => @slam %>
<br>
**change poet form so clicking create takes them back here!
<% else %>
    <%= link_to 'Round 1', slam_round_path(@slam, @slam.rounds[0]) %>
<% end %>
<br>
<p>
<%= link_to 'Edit Slam', edit_slam_path(@slam) %> |
<%= link_to 'Back', user_path(@slam.user) %>

